:root{
    --bg-dark: #1C1C27;
    --bg-light: #1C1E27;
    --primary-dark: #854CE6;
    --text-primary-dark: #F2F3F4;
    --text-secondary-dark: #b1b2b3;
    --card-dark: #171721;
    --card-light-dark: #191924;
    --button-dark: #854CE6;
    --white: #FFFFFF;
    --black: #000000;  
}